@media ( max-width :768px) {
	.w-45{width: 45%}
	.list-view .frame-prod-card {
		
	}
	.list-view .image-product {
		width: 40%;
	}
	.list-view .infor-prod {
		width: 60% !important;
	}
	.list-view .information-company {
		width: 60% !important;
		padding: 0px 15px;
	}
	.content-category .post-item .card-body {
		height: 150px;
	}
	.content-category .post-item img.pro-img {
		width: 100%;
	}
	.btn-sm-call {
		background-color: #15746D;
		background-image: linear-gradient(to right, #00a699, #15746D);
	}
	.btn-sm-contact {
		background-color: #2F3394;
		background-image: linear-gradient(to right, #5058BC, #2F3394);
	}
}

/*DETAIL PRODUCT*/
@media ( max-width :768px) {
	.bg-content {
		background: #efefef
	}
	.prod-infor {
		width: calc(100% - 20px);
		padding: 10px;
		background: #fff;
		border-radius: 10px;
		margin: -25px auto 0;
		box-shadow: 0 3px 14px -7px #666;
	}
	.prod-infor-detail {
		margin: 10px;
		padding: 10px;
		background: #fff;
		border-radius: 10px;
	}
	.img_page_bg {
		width: 50px;
		height: 50px;
		float: left;
	}
	.prod-info-page {
		padding: 0 0 0 60px !important;
	}
	.icon-phone {
		float: right;
		padding: 3px;
		border-radius: 50%;
		border: 1px solid #30999e;
	}
	.more-product h2 {
		border-radius: 10px 10px 0 0;
		padding: 10px;
		background: #fff;
		margin: 0;
		border-bottom: 1px solid #ccc;
	}
	.container-cus {
		padding: 0 !important;
	}
	#detail_product_mobile .image-product {
		width: 40%;
		float: left;
	}
	#detail_product_mobile .infor-prod {
		width: 60%;
		float: left;
		padding: 0px 5px;
	}
}

/* FOR BOTTOM PAGE */
@media ( max-width :767px) {
	#bottom_page {
		position: fixed;
		bottom: 0;
		z-index: 9
	}
	#bottom_page .col-2-5 {
		line-height: 0.8;
	}
	#bottom_page .link_active {
		color: #fff908 !important;
	}
	.link_active i {
		color: #fff908 !important;
	}
	#bottom_page_product img {
		max-width: 25px;
	}
}