/** << ======================================^^^=================================== >> */
/**                                         GLOBAL                                     */
/** << ======================================***=================================== >> */
body{
	background: #ccc;
}

/** << ======================================^^^=================================== >> */
/**                                        HEADER                                      */
/** << ======================================***=================================== >> */
header h1{
	font-size: 20px;
}
#head-top{
	background: #f4f5f9;
	min-height: 30px;
	color: #666;
	border-bottom: 1px solid #ccc;
}
#head-top ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#head-top li{
	display: inline-block;
}
#head-top li a{
	color: #666;
	display: block;
	font-size: 0.85rem;
	border-right: 1px solid #ccc;
	padding-right: 10px;
	line-height: 1.25em;
	margin-left: 5px;
}
#head-top li:last-child a{
	border: none;
}
#head-top span{
	display: inline-block;
	line-height: 30px;
}

#head-hotline h5, #head-hotline h5 a{
	font-size: 17px;
	color: #666;
}
#head-hotline h4, #head-hotline h4 a{
	font-size: 18px;
	color: #dc5543;
}
#menu{
	border-top: 1px solid #f1f3f6;
	border-bottom: 1px solid #666;
	position: relative;
	background: #232323;
}
#menu li>a{
	padding: .75rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    border-left: 1px solid #666;
    color: #fff;
}
#menu li>a:hover{
	background: #454545;
}
.navbar{
	padding: 0;
}
.dropdown:hover .dropdown-menu{
	display: block;
	min-width: 240px;
}
#menu .menu-right li>a{
	padding: .75rem .5rem;
	border-left: none;
}
/** << ======================================^^^=================================== >> */
/**                                         MAIN                                       */
/** << ======================================***=================================== >> */
.breadcrumb{
	padding: 0;
	margin-bottom: 0;
	background: none;
}
#main{
	min-height: 50vh;
	background: #ccc;
}

#services .card-title a{
	color: #565555;
	display: block;
	line-height: 1.4rem;
	height: 2.8rem;
	overflow: hidden;
	font-size: 1.05rem;
}
#services .price{
	color: #e91e63;
	font-weight: bold;
}
#services .desc{
	line-height: 1.25rem;
	height: 2.5rem;
	overflow: hidden;
}
#services img{
	-webkit-transition: ease .2s;
    transition: ease .2s;
    width: 100%;
}
#services .card:hover{
	box-shadow: 0px 0px 10px 3px #ccc;
}
#services .card:hover img{
	transform: scale(1.15);
    filter: contrast(80%) brightness(110%);
}

.supporter:hover .avatar{
	box-shadow: 0px 0px 10px 3px #ccc;
}

.page-title{
	text-transform: uppercase;
	position: relative;
	padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.page-title::after{
	content: "";
    position: absolute;
    width: 100px;
    left: 50%;
    bottom: 0;
    margin-left: -50px;
    background: #efefef;
    z-index: 1;
    height: 3px;
    background: #666;
}

#mainproduct .content{
	position: absolute;
	width: 100%;
	bottom: 0;
	background: rgba(0,0,0,0.4);
}
#mainproduct .content a{
	color: #fff;
	font-size: 1rem;
}
#mainproduct .card:hover .content a{
	color: #ccc;
}
#mainproduct .card:hover .content{
	background: rgba(0,0,0,0.7);
}


#comdesc{
	text-align: center;
	background: url("../images/banner-information.png");
	min-height: 240px;
	position: relative;
}
#comdesc>.item{
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	position: absolute;
	color: #fff;
}
#comdesc>.item h2{
	margin-top: 40px;
}

#cominfo .item{
	padding-bottom: 1.5rem;
	color: #666;
	cursor: pointer;
	font-size: 14px;
}
#cominfo .item i{
	font-size: 32px;
}
#cominfo .item>.icon{
	border: 1px solid #dadada;
	border-radius: 50%;
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 70px;
	text-align: center;
	color: #999;
	float: left;
	margin-right: 0.5rem;
}
#cominfo .item>.title{
	display: block;
	font-weight: bold;
	padding-top: 0.5rem;
}
#cominfo .item:hover>.title{
	text-decoration: underline;
}
#cominfo .item>.value{
	display: block;
	overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
}

.btn-img .carousel-indicators{bottom: -70px;}
.btn-img .carousel-indicators li{height: auto; width: 63px; cursor: pointer;}

/** << ======================================^^^=================================== >> */
/**                                        FOOTER                                      */
/** << ======================================***=================================== >> */
footer{
	min-height: 10vh;
	position: relative;
	color: #999;
}
footer a{
	color: #999;
}
footer .menu-left li:first-child a{
	padding-left: 0;
}
footer .menu-right li:last-child a{
	padding-right: 0;
}
footer .menu-right li a{
	padding: 0.5rem;
}
footer .card {
    background: #555;
    color: #ccc;
}
footer hr{
	border-top: 1px solid #666;
}
#foot-btn{
	border-top: 1px solid #333;
}
