/** << ======================================^^^=================================== >> */
/**                                         GLOBAL                                     */
/** << ======================================***=================================== >> */
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

h3{
 font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
}
h2 {
    font-size: 25px;
    line-height: 34px;
}
a, .text-link {
        color: #333;
    text-decoration: none;
}
a{
        transition: all 150ms ease-in-out;
}
a:hover{
       color: #f8452d;
       text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
button{
    background-color: transparent;
    border: transparent;
}
/** << ======================================^^^=================================== >> */
/**                                        HEADER                                      */
/** << ======================================***=================================== >> */
header{
    box-shadow:  0 0 10px 0 #ccc;
}
header .menu{
        margin-bottom: 0px;
}
header .menu .nav-item:hover .dropdown-menu{
    display: block;
}
header .top{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #f8452d;
    color: #fff;
    font-size: 14px;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
}
header .nav-item{
        padding: 0px 10px;
}
header .nav-link{
    font-size: 14px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    line-height: 100px;
}
header .menu .nav-link:hover{
    color: #f60 !important;
}
header .menu .dropdown-menu{
    border: 1px solid #ebebeb !important;
    padding: 0;
}
header .menu .dropdown-item:hover{
    background: red;
    color: #fff !important;
}
header .menu button{
    position: relative;
}
header .menu button i{
    font-size: 30px;
    color: #f8452d;
}
header .menu button .cart-num{
        display: inline-block;
    font-size: 11px !important;
    color: #fff;
    font-weight: 400;
    width: 30px;
    height: 18px;
    position: absolute;
    line-height: 17px;
    text-align: center;
    right: -10px;
    border-radius: 10px;
    top: -3px;
    border: solid 1px #fff;
    background: #ffbd07;
}
header .top form{
    position: relative;
}
header .top input{
        height: 25px;
        width: 100%;
        padding-left: 5px;
    border: none;
    border-radius: 10px;
}
header .top button{
    position: absolute;
    right: 5px;
    top: 0;
}
/** << ======================================^^^=================================== >> */
/**                                         MAIN                                       */
/** << ======================================***=================================== >> */
#S-1 .wrapper{
        padding: 0px 0px;
    overflow: hidden;
    background: #FFFCF3;
    border-bottom: dashed 1px #ebebeb;
}
#S-1 .text .title {
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333;
}
#S-1 .owl-carousel .owl-item img{
    width: 80px !important;
}
#S-1 .text .description{
    font-family: 'Noto Serif', serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 5px;
    color: #898989;
}

.cl-red{
    color: red;
}
a.img-1{
        transition: all 150ms ease-in-out;
}
.owl-theme .owl-nav [class*=owl-]{
        font-size: 35px;
    background: #f8452d;
    border:1px solid #f8452d;
}
a.img-1:before,a.img-1:after{
        position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}
a.img-1:hover:before {
    right: 50%;
    left: 50%;
    width: 0;
    background: rgba(255,255,255,0.3);
}
a.img-1:hover:after {
    height: 0;
    top: 50%;
    bottom: 50%;
    background: rgba(255,255,255,0.3);
}
.owl-theme .owl-nav [class*=owl-]:hover{
    color: #f8452d;
    background: #fff;
}
.S-2 .title{
    font-size: 26px;
    text-align: center;
    margin: 30px 0 ;
    line-height: 26px;
    color: #333;
    position: relative;
    font-weight: 500;
    z-index: 1;

}
.S-2 .title a{
    background: #fff;
    padding:0 10px;
}
.S-2 .title:before,.S-2 .title:after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #333;
    color: black;
    z-index: -1;
}
.S-2 .title:after {
    top: 47%;
}
.S-2 .title:before {
    top: 52%;
}
.cl-white{
    color: #fff;
    font-weight: bold;
}
.S-2 .info .name{
        font-family: 'Noto Serif', serif;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    font-weight: 400;
    margin-bottom: 7px;
    margin-top: 0px;
}
.S-2 .info  .name a{
        line-height: 20px;
        font-weight: bold;
        height: 36px;
        display: block;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
}
.S-2 .info  .old-price{
        font-family: 'Noto Serif', serif;
    text-decoration: line-through;
    font-size: 14px;
    color: #acacac;
    line-height: 18px;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 10px;
}
.S-2 .info .sale{
    position: relative;
    z-index: 8;
    display: inline-block;
    width: 45px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 15px;
    padding: 0px 0px;
    background: #f8452d;
    color: #fff;
    font-family: 'Noto Serif', serif;
    font-size: 12px;
}
.S-2 .item{
    position: relative;
}
.item:hover .action{
    display: block;
}
.action{
    position: absolute;
    top: 40%;
    display: none ;
}
.S-2 .item .action a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: solid 1px #f5f5f5;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    position: relative;
}
#S-3{
    position: relative;
    background-image: url(../images/background_repeat.png);
    background-repeat: repeat;
    padding: 5px 0px 40px;
    background-size: 100%;
    background-position: top center;
    color: #fff;
}
#S-3:before{
        content: "";
    height: 50px;
    width: 100%;
    background-image: url(../images/content_top.png);
    background-repeat: repeat-x;
    position: absolute;
    top: -14px;
    left: 0px;
}
#S-3:after{
        content: "";
    height: 100%;
    width: 100%;
    background-image: url(../images/background_transparent.png);
    background-size: cover;
    background-position: top center;
    position: absolute;
    top: 50px;
    left: 0;
}
#S-3 .title{
    position: relative;
    padding-bottom: 30px;
}
#S-3 .title:before{
    position: absolute;
    height: 3px;
    width: 10%;
    top: 35px;
    background: yellow;
    content: "";
}
#S-3 .title a{
    color: #fff;
    position: relative;
}
#menu-mobi{
        width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999;
    display: none;
}
#menu-mobi .wrapper{
    width: 70%;
    height: 100%;
    background: #fff;
}
#menu-mobi .list-menu{
    background-color: red;
}
#menu-mobi .list-menu li{
        border-top: solid 1px rgba(255,255,255,0.71);
}
#menu-mobi .list-menu li a{
        display: block;
    font-size: 14px;
    line-height: 36px;
        padding: 0px 10px 0px;
        font-weight: bold;
    color: #fff;
}
#menu-mobi .sub{
    display: none;
}
#menu-mobi .list-menu li:hover .sub{
    display: block;
}
.dropdown-menu{
        border-radius: 0;
    margin-top: 0px;
}
.banner{
        background-image: url(../images/banner-page.png);
    background-size: cover;
    background-position: center top;
    padding: 25px 0px;
    background-repeat: no-repeat;
    min-height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1{
        font-family: 'Noto Serif', serif;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    line-height: 34px;
    margin: 0px;
}
.bread-crumb{
    border-bottom: 1px dotted #ccc;
}
.breadcrumb{
    background-color: transparent;
}
.breadcrumb-item.active{
    color: #f8452d;
}
.srt {
    height: 45px;
    margin-bottom: 20px;
    border-bottom: dashed 1px #ebebeb;
}
.srt i{
    font-size: 20px;
}
.srt a:hover{
    color: red;
}
#S-9 h2{
    margin: 0px;
    line-height: 28px;
    font-size: 18px;
    padding: 0px 0px 0px;
}
#S-9 .nav-item{
    border-bottom: dashed 1px #ebebeb;
}
#S-9 .product-info h3{
        margin-top: 0;
    font-size: 1em !important;
    margin-bottom: 10px;
}
#S-9 .sub{
    display: none;
    transition: all 500ms ease-in-out;
}
#S-9 .nav-item .nav-link i{
    transform: translate3d(0, 0, 0);
    transition-duration: 200ms;
}
#S-9 .nav-item:hover>.nav-link i{
    transform: rotate(180deg);
}
#S-9 .nav-item:hover>.nav-link{
    color: #f60;
}
#S-9 .nav-item:hover .sub{
    display: block;
}
.owl-theme .owl-nav [class*=owl-]{
    position: absolute;
    top:35%;
        padding: 5px 13px;
}
.owl-theme .owl-nav [class*=owl-next]{
    right: -50px;
}
.owl-theme .owl-nav [class*=owl-prev]{
    left: -50px;
}
#S-11 .item,#S-9 .item{
        border: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
/** << ======================================^^^=================================== >> */
/**                                        FOOTER                                      */
/** << ======================================***=================================== >> */
footer {
   background: #1b1b27;
   color: #Fff;
   font-family: 'Noto Serif', serif;
}
footer h4{
        font-family: 'Noto Serif', serif;
    font-size: 18px;
    color: #fff;
    line-height: 34px;
    font-weight: 400;
    margin-top: 0px;
}
footer span{
        color: #898989;
}
@media only screen and (max-width: 450px) {
   
    .S-2 .item img{
            padding: 0px 35px;
    }
    .owl-theme .owl-nav [class*=owl-prev]{
        left: 0;
    }
    .owl-theme .owl-nav [class*=owl-next]{
        right: 0;
    }
    .owl-theme .owl-nav [class*=owl-]{
        padding: 5px;
    }
}
@media only screen and (max-width: 800px) {
    
   #S-1 .item{
    display: block !important;
    text-align: center;
   }
    #S-1 .item{
        border:none;
    }
    #S-1 .item .icon{
        display: inline-block;
    }
    #S-1 .item .text{
        margin: 0 !important;
    }
    .S-2 h2.title{
        font-size: 16px;
    }
    #S-3 .content-blog-right h3 a{
        font-size: 14px;
    }
    #S-3 .content-day{
        font-size: 12px;
    }
    #S-4{
        margin-top: 100px !important;
    }
    #S-1 .owl-theme .owl-nav [class*=owl-prev] {
    right: -10px;
    }
    #S-1 .owl-theme .owl-nav [class*=owl-next] {
        left: -10px;
    }
   .S-2 .item img{
    height: 175px !important;
   }
   #S-3 .title:before{
    left:45%;
   }
}